<section>
  <h2 class="quiz_title">Let's play !</h2>
  <section class="quiz_questions-list">
    <section class="quiz_questions-answers" *ngFor="let content of quizContent; let i = index">
      <h4 class="quiz_question"><b>Question {{ i + 1 }} :</b> {{ content.question }}</h4>
      <ul class="quiz_answers">
        <li *ngFor="let answer of content.answers; let j = index">
          <button
            [disabled]="isQuizFinished"
            (click)="addAnswer(answer.answer, content.id)"
            [class.quiz_answers--selected]="isAnswerSelected(answer.answer, content.id)"
          >
            <span>{{ getAnswerLetter(j) }}.</span> {{ answer.answer }}
          </button>
        </li>
      </ul>
    </section>
  </section>
  <div class="quiz_validation">
    <button (click)="checkAnswers()">Send</button>
  </div>
  <section class="quiz_score" *ngIf="isQuizFinished">
    <h3>Voici votre score :</h3>
    <span>{{ score }} / {{ quizContent.length }}</span>
  </section>
</section>
